# Python
__pycache__/
*.pyc

# Environment Secrets
.env
.env.local

# Personal Portfolio Data
portfolio.json
history.json

# Local Backups & Logs
backup_v1/
*.log

# Large Datasets & DBs
*.db
backtest_logs.db
backtest_database.json

# System Files
.DS_Store
